@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&family=Orbitron:wght@400;500&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;500&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;500&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Darker+Grotesque:wght@900&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;500&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Darker+Grotesque:wght@900&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;500&family=Poppins:ital,wght@0,100;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes gradientChange {
    0% {
        background-position: 0%
    }

    50% {
        background-position: 100%
    }

    100% {
        background-position: 0%
    }
}

@layer utilities {
    .gradient {
        background: linear-gradient(90deg, blue, red);
        background-size: 200% 200%;
    }

    .element-to-rotate {
        animation: gradientChange 4s ease infinite;
    }
}

@layer base {
    html {
        font-family: 'Orbitron', sans-serif;
    }

    li {
        @apply p-4;
    }

    h1 {
        @apply text-3xl md:text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-xl font-bold;
    }

    button {
        @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md;
    }
}
