@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&family=Orbitron:wght@400;500&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;500&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;500&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Darker+Grotesque:wght@900&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;500&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Darker+Grotesque:wght@900&family=Hedvig+Letters+Serif:opsz@12..24&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;500&family=Poppins:ital,wght@0,100;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Darker+Grotesque:wght@900&family=Kdam+Thmor+Pro&family=Orbitron:wght@400;500&family=Poppins:ital,wght@0,100;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");



@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
   margin: 0px;
   padding: 0px;
} 

body{
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@font-face {
  font-family: 'Aquire';
  src: url('../assets/fonts/Aquire-BW0ox.otf');
}




.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior:smooth;
}


@keyframes gradientChange {
    0% {
        background-position: 0%
    }

    50% {
        background-position: 100%
    }

    100% {
        background-position: 0%
    }
}

@layer utilities {
    .gradient {
        background: linear-gradient(60deg, #cc5a00, #36332ec4);
        background-size: 200% 200%;
    }

    .element-to-rotate {
        animation: gradientChange 4s ease infinite;
    }
        
}

@layer base {
    html {
        font-family: 'Orbitron', sans-serif;
    }    
}



@font-face {
  font-family: Aloevera;
  src: url(../src/assets/fonts/Aloevera-OVoWO.ttf);
}

.Aloevera {
  font-family: Aloevera;
}

@font-face {
  font-family: Rooster;
  src: url(../src/assets/fonts/RoosterPersonalUse-3z8d8.ttf);
}

.Rooster {
  font-family: Rooster;
}

@font-face {
  font-family:AquireBold ;
  src: url(../src/assets/fonts/AquireBold-8Ma60.otf);
}

.AquireBold{
  font-family: AquireBold;
}

@font-face {
  font-family: AquireLight;
  src: url(../src/assets/fonts/AquireLight-YzE0o.otf);
}

.AquireLight{
  font-family: AquireLight;
}


.border-opacity-20 {
  border-color: rgba(255, 255, 255, 0.2);
}

.btn {
  background-image: linear-gradient(45deg, #2ffff5 0%, #EB8159  51%, #ff2f2f  100%)
 }
 
 .btn {
  margin: 10px;
  padding: 13px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 50px;
  border: 0px;
  font-weight: 550;
  box-shadow: 0px 0px 14px -7px #f09819;
  
 }
 
 .btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
 }
 
 .btn:active {
  transform: scale(0.95);
 }

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(255, 0, 0) 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#030014;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, rgb(66,45,47) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #080808;
  background-image: 
    radial-gradient(at 0% 100%, rgb(14, 14, 14) 0, transparent 50%), 
    radial-gradient(at 50% 0%,rgb(66,45,47) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #030014;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.gradient-bg-new {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 150%, rgba(209, 123, 24, 0.894) 0, transparent 50%);
}

.gradient-bg-new1 {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%,  rgba(209, 123, 24, 0.894) 0, transparent 50%);
}

.gradient-text {
  background: linear-gradient(to right, #462523 0%, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* font-weight: 600;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0.25rem; */
}

.gradient-textnew {
  background: linear-gradient(to bottom right, #9a5916 10%, #e4b04d 18%, #fff1a3 22%, #e7b14f 30%, #ae6f27 38%, #f8c65d 50%, #e4b04d 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* font-weight: 600;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0.25rem; */
}

/* ::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track{
  background: #000000;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#000000,#000000,#000000,#EB8159,#ff2f2f );
  border-radius: 10px;
} */




.custom-hover {
  background-color: transparent;
}

.custom-hover:hover {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 70% 150%, rgba(209, 123, 24, 0.894) 0, transparent 80%);
}



.bg-videoBg1 {
  background-image: url('/src/assets/ved.jpeg');
  border-radius: 10%;
  border-color: #030014;
  border-width: medium;
}

.bg-videoBg2 {
  background-image: url('/src/assets/prop3.jpeg');
}
.bg-videoBg3 {
  background-image: url('/src/assets/praposal1.jpeg');
  border-radius: 5%;
}
/* .bg-stars {
  background-image: url('/src/assets/starss.avif');
  background-size: cover;
  background-position: center;
  
 margin: 0; 
  overflow: hidden; 
}  */


/* :root {
  --glow-rgb: 239 42 201;
}

body {
  background: linear-gradient(145deg, rgb(119, 46, 195), rgb(58, 18, 153));
  height: 100vh;
  overflow-y: auto;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100vw; */
  /* height: 100vh; 
  z-index: 9999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
  pointer-events: none;
}

.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
} */



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.carousel {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1400px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic {
  color: #f1683a;
}
.carousel .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #f1683a;
  color: #f1683a;
}
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title {
  font-weight: 500;
}
.thumbnail .item .content .description {
  font-weight: 300;
}
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}
.arrows button:hover {
  background-color: #fff;
  color: #000;
}
